<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body>
    <header>
      <h1>COntacto</h1>
    </header>
    <main>
      <div class="errores">
        <ul></ul>
      </div>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" />
        <br />
        <label for="numero">Seleccionar un Numero:</label>
        <input type="number" id="numero" name="numero" />
        <br />
        <label for="fecha">Seleccionar una fecha:</label>
        <input type="date" id="fecha" name="fecha" />
        <br />
        <label for="mensaje">Mensaje Especial:</label>
        <input type="text" id="mensaje" name="mensaje"></input>
        <br />
        <input type="submit" value="Enviar" />
      </form>

      <a href="index.html">Volver</a>
    </main>
    <script src="../script.js"></script>
  </body>
</html>
