<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <h1 id="title">JS Front</h1>
    </header>
    <main>
      <div class="bienvenida">
        <h1></h1>
        <h2></h2>
      </div>
      <p class="lorem-1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero,
        consequuntur atque! Voluptates laboriosam vero incidunt quasi, modi eius
        facere. Fuga itaque labore ea aliquam similique praesentium cum?
        Aliquid, asperiores rem! Fugit aliquid nam omnis. Omnis voluptatum,
        illum harum placeat reiciendis doloremque soluta fuga quas eligendi?
      </p>
      <div class="flex border m-1 f-d-r">Primer Div</div>
      <div class="flex border m-1 f-d-r" id="segundo">Segundo Div</div>
      <div class="flex border m-1 f-d-r">Tercer Div</div>
      <div class="flex border m-1 f-d-r">Cuarto Div</div>
      <a href="contacto.html">COntacto</a>
      <ul id="main-navbar">
        <a href="#">Uno</a>
        <a href="#">Dos</a>
        <a href="#">Tres</a>
        <a href="#">Cuatro</a>
      </ul>

      <br />
      <br />

      <ul id="cont01">
        <li class="alert-danger">1</li>
        <li class="alert-danger">2</li>
        <li class="alert-danger">tre</li>
        <li class="alert-success">4</li>
        <li class="alert-success">5</li>
        <li class="alert-danger">6</li>
        <li>7</li>
      </ul>
      <ul>
        <li></li>
        <li></li>
      </ul>
      <ul class="api"></ul>
      <form action="#" method="get">
        <input type="text" name="name" id="nombre" />
        <button type="submit">Enviar</button>
      </form>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
